@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

/* Universal Styling */
body {
    background-color: lightslategray;
    align-items: center;
    text-align: center;
    margin-top: 10%;
}

* {
    font-family: "Yusei Magic";
}

/* Home Page */
h1 {
    font-size: 100px;
}

.play-size {
    width: 100px;
    height: 40px;
}

.highscore-size {
    width: 125;
    height: 40px;
}

/* Game Styling */
p {
    color: #fff;
    font-size: 30px;
}